<!doctype html>
<html>
	<head>
		<title>GameProgramming</title>
		<meta charset="utf-8"/>
		<link rel="stylesheet" type="text/css" href="/css/stylesheet.css" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
		<script type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.6/ace.js"></script>
		<script src="/js/ajax_compile.js"></script>
		<script src="/js/javascripts.js"></script>
	</head>
	<body>
		<div id="wapper">
			<header>
				<% include ../views/part/template/header %>
			</header>

			<aside>
				<% include ../views/part/template/nav %>
			</aside>
			
			<section id="main_section">
				<% include ../views/part/template/list %>
			</section>

			<footer>
				<% include ../views/part/template/footer_main %>
			</footer>
		</div>
	</body>
</html>