<div id="in_section_1">
<h1>변수 및 할당문</h1>
<h2>기본설명</h2>
<p>앞의 단원에서 a = 5 이런식으로 작성하는 모습을 봤습니다.</p>
<p>이렇게 <strong>“=”</strong> 과 특정 영문자로 연결하는 과정에서 특정 영문자를 <strong>“변수”</strong> , 뒤에 쓰여지는 것을 <strong>“값”</strong> 그리고 <strong>“변수”</strong> 와 <strong>“값”</strong> 을 연결하는 것을 <strong>“변수 할당”</strong> 이라고 부릅니다.</p>
<p>다음 예제를 보도록 하겠습니다.</p>
<pre class="hljs"><code>n = <span class="hljs-number">17</span>
pi = <span class="hljs-number">3.14</span>
message = <span class="hljs-string">"파이썬 좋아요!"</span>
</code></pre>
<p>위와 같이 숫자뿐만 아니라 문자열도 값으로 변수에 할당할 수 있습니다.</p>

</div>

<div id="in_section_compiler">
    <div id="sec_1" >
        <div id="editor"># 여기에 코드를 작성하세요.
</div>
    </div>
	<div id="buttons">
		<input id='run' type='button' value='RUN' onclick="submitCheck('run', 'run', 'check')">
		<input id='check' type='button' value='CHECK' onclick="submitCheck('check', 'check', 'run')">
	</div>
    <div id="sec_2">
        <div id="editor_run">Loading....</div>
        <script>
	 		make_editor();
        </script>
    </div>
</div>

<!-- 여기서 id값으로 판정해서 컴파일러와 다른것을 나타낼 수 있는 if문 비슷하게 구현하면 될 것 같음. -->