<div id="in_section_1">

</div>

<div id="in_section_compiler">
    <div id="sec_1" >
        <div id="editor"># 여기에 코드를 작성하세요.
</div>
    </div>
	<div id="buttons">
        <input id='check' type='button' value='CHECK' onclick="submitCheck('check', 'check')">
        <input id='answer' type='button' value='ANSWER' onclick="submit_answer()">
	</div>
    <div id="sec_2">
        <div id="editor_run">Loading....</div>
        <script>
             make_editor();
             make_editor_run();
        </script>
    </div>
</div>