<div>
    <% for(var lesson in list.lesson) { %>
        <p><%= list.lesson[lesson].name %></p>
        <ul>
            <% for(var chapter in list.lesson[lesson].chapter) { %>
            <li><a href="<%= list.lesson[lesson].chapter[chapter].address %>"><%= list.lesson[lesson].chapter[chapter].name %></a></li>
            <% } %>
        </ul>
    <% } %>
</div>



    
    
        

