<div id="in_section_1">
<h1>Hello World 출력하기</h1>
<p>화면에 Hello World가 출력이 되도록 코드를 완성해 주세요.</p>
<pre class="hljs"><code>	print(<span class="hljs-string">"Hello World"</span>)
</code></pre>
<h1>직접 해보기</h1>
<p>이번에는 &quot;안녕하세요&quot;를 출력하는 명령문을 작성하세요.</p>

</div>

<div id="in_section_2">
    test
</div>

<!-- 여기서 id값으로 판정해서 컴파일러와 다른것을 나타낼 수 있는 if문 비슷하게 구현하면 될 것 같음. -->