<div id="in_section_1">
<h1>부울 표현식과 조건문</h1>
<h2>기본설명</h2>
<ul>
<li>
<p>부울 표현식: 참 또는 거짓으로 판명될 수 있는 표현식.</p>
<p><code>True</code>와 <code>False</code> 두 개가 부울 자료형의 기본 값이며, 부울 연산자를 이용하여 다양한 부울 표현식을 작성할 수 있다.</p>
<p>예제: <code>x == y</code>, <code>x**2 != y</code>, <code>x-3 &lt; y*2 + 2</code>, <code>f(x) &lt;= g(x, y) </code>, <code>x - y &gt; z</code>, <code>x + 2*y + 3 &gt;= z ** 3</code> 등등</p>
</li>
<li>
<p>조건문: …</p>
</li>
</ul>
<h1>직접 해보기</h1>

</div>

<div id="in_section_compiler">
    <div id="sec_1" >
        <div id="editor"># 여기에 코드를 작성하세요.
</div>
    </div>
	<div id="buttons">
        <input id='check' type='button' value='CHECK' onclick="submitCheck('check', 'check')">
        <input id='answer' type='button' value='ANSWER' onclick="submit_answer()">
	</div>
    <div id="sec_2">
        <div id="editor_run">Loading....</div>
        <script>
             make_editor();
             make_editor_run();
        </script>
    </div>
</div>