<div id="in_section_1">
<h1>산술연산자 - 1</h1>
<p>파이썬에서는 여러 산술연산자를 통해 수를 계산할 수 있습니다.</p>
<pre class="hljs"><code>	a = <span class="hljs-number">5</span>
	b = <span class="hljs-number">7</span>
	c = a + b
	print(c)	<span class="hljs-comment"># 12</span>
</code></pre>
<h1>직접 해보기</h1>
<p>이번에는 다음 주어진 계산을 직접 작성해보세요. 값은 한줄 간격으로 출력되게 해야합니다.</p>
<ul>
<li>40 + 2</li>
<li>84 / 2</li>
<li>6 ** 2</li>
</ul>

</div>

<div id="in_section_compiler">
    <div id="sec_1" >
        <div id="editor"># 여기에 코드를 작성하세요.
a = 5
b = 7
c = a + b
print(c)
</div>
    </div>
	<div id="buttons">
        <input id='check' type='button' value='CHECK' onclick="submitCheck('check', 'check')">
        <input id='answer' type='button' value='ANSWER' onclick="submit_answer()">
	</div>
    <div id="sec_2">
        <div id="editor_run">Loading....</div>
        <script>
             make_editor();
             make_editor_run();
        </script>
    </div>
</div>